[submodule "Cooliris-ToolKit"]
	path = Cooliris-ToolKit
	url = https://github.com/swisspol/Cooliris-ToolKit.git
[submodule "GCDWebServer"]
	path = GCDWebServer
	url = https://github.com/swisspol/GCDWebServer.git
[submodule "XLFacility"]
	path = XLFacility
	url = https://github.com/swisspol/XLFacility.git
