body {
  padding: 10px;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 16px;
}

#header {
  padding: 10px;
  width: 578px;
  background: #C9C9C9;
  border: 1px solid #BFBFBF;
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

#collectionName {
  margin-top: 15px;
  padding: 5px;
  width: 588px;
  background: #42A7C9;
  border: 1px solid #1198BF;
  color: white;
  font-size: 1.0em;
}

#help {
  margin-top: 5px;
  font-size: 0.75em;
}

#uploaderContainer {
  margin-top: 15px;
  width: 600px;
}

#selectFilesButtonContainer {
  float: left;
}

#uploadFilesButtonContainer {
  float: right;
}

#fileList {
  margin-top: 15px;
  width: 600px;
}

#fileNames {
  width: 100%;
}

#status {
  width: 200px;
}

#size {
  width: 100px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #98BF11;
}

thead > tr {
  background: #A7C942;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 1.0em;
  color: white;
}

tbody > tr {
  padding: 3px;
  font-size: 0.75em;
}

tbody > tr:nth-child(even) {
  background: #EAF2D3;
}

tbody > tr:nth-child(odd) {
  background: #FFFFFF;
}

tfoot > tr {
  background: #A7C942;
  color: white;
  padding: 3px;
  font-size: 0.75em;
}
